{% load i18n %}
{% autoescape off %}
{% blocktrans %}Bonjour,

Vous recevez cet e-mail parce que nous avons reçu une demande de réinitialisation du mot de passe pour votre compte.

Veuillez suivre le lien ci-dessous pour réinitialiser votre mot de passe :

{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm_done' uidb64=uid token=token %}

{% blocktrans %}
Ce lien expirera dans {{ timeout }} heures.

Si vous n'avez pas demandé de réinitialisation de mot de passe, ignorez simplement cet e-mail.

Merci,
L'équipe de votre site
{% endblocktrans %}
{% endautoescape %}

